{% extends "base.html.twig" %}
{% block body %}
    <h1>{{ group.name }}</h1>

    <div>
        {% if app.session.flashBag.has("student_in_group") %}
            <div class="alert alert-student_in_group">
                {% for msg in app.session.flashBag.get("student_in_group") %}
                    <p class="bg-danger">{{ msg }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% if app.session.get("student_group") %}
            {% set storage =  app.session.get("student_group") %}
            {% if storage|length > 0 %}
                <div class="btn-group" role="group">
                    {{ render(controller("StudentsSearchBundle:StudentGroup:showStorage")) }} 
                    <a href="{{ path("add_to_group", { "groupId": group.id }) }}" class="btn btn-success" role="button">{{ "group.add_to_group" | trans }}</a>
                    {#<button class="btn btn-danger clear_session" data-href="{{ (path("cleartest"))}}" id="clear_session_link">{{ "student.clear_storage" | trans }}</button>#}
                    <a href="{{ path("clear") }}" class="btn btn-danger" role="button">{{ "student.clear_storage" | trans }}</a>
                </div>            
            {%endif%}
        {% else %}
            <div><button class="btn btn-warning" type="button">{{ "student.empty_storage" | trans }}</button></div>
            {%endif %} 
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ "main.ordinal_number" | trans }}</th>
                <th>{{ "student.name" | trans }}</th>
            </tr>
        </thead>

        <tbody>          
            {% for student in group.students %}           
                <tr>
                    <td></td>
                    <td>
                        {{ student.name }}
                    </td>
                </tr>           
            {% endfor %}        
        </tbody>
    </table>
    <a href="{{ path("all_groups") }}" role="button" class="btn btn-info">{{ "group.all_groups" | trans }}</a>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset("js/jquery.add.row.number.js") }}"></script>
    <script src="{{ asset("js/jquery.clear.session.js") }}"></script>
    <a href="#" data="{{ (path("cleartest"))}}" id="clear_session_link"></a>
{% endblock %}