{% extends 'base.html.twig' %}
{% block body %}
    <h1>Lista grup</h1>

    <table>
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Studenci w grupie</th>
                <th>Akcje</th>

            </tr>
        </thead>

        <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.name }}</td>

                    <td>
                        {% for student in group.students %}
                            {{ student.name }}
                        {% endfor %}
                    </td>

                    <td>
                        {% if app.session.get("student_group") %}
                            {% set clipboards =  app.session.get("student_group") %}
                            {% if clipboards|length > 0 %}
                                <a href="{{ path('add_to_group', { 'groupId': group.id }) }}">Dodaj</a>
                            {% endif %}
                        {% else %}
                            <div><a href="{{ path('show_all') }}">Wybierz studenta</a></div>

                        {%endif %}

                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if app.session.flashBag.has('student_in_group') %}
        <div class="alert alert-student_in_group">
            {% for msg in app.session.flashBag.get('student_in_group') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    {% if app.session.get("student_group") %}
        {% set clipboards =  app.session.get("student_group") %}
        {% if clipboards|length > 0 %}
            <div>W schowku jest {{ clipboards|length }} studentów</div>
            <a href="{{ path('clear') }}">Wyczyść schowek</a>
        {% endif %}
    {% else %}
        <div>Schowek jest pusty</div>

    {%endif %}
    <div>
        <a href="{{ path('show_all') }}">Wróć do listy studentów</a>
    </div>
{% endblock %}
