{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista studentów</h1>

    <a href="{{ path('student_finder') }}">Znajdź studenta</a>
    <table>
        <thead>
            <tr>
                <th>Nazwisko</th>
                <th>Województwo</th>
                <th>Powiat</th>
                <th>Gmina</th>
                <th>Akcje</th>

            </tr>
        </thead>

        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.district.name }}</td>
                    <td>{{ student.county.name }}</td>
                    <td>{{ student.community.name }}</td>
                    <td><a href="{{ path('student_add_to_storage', { 'studentId': student.id }) }}">Dodaj</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if app.session.flashBag.has('student_exist') %}
        <div class="alert alert-student_exist">
            {% for msg in app.session.flashBag.get('student_exist') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}    
    {% if app.session.get("student_group") %}
        {% set storage =  app.session.get("student_group") %}
        {% if storage|length == 1 %}
            <div>W schowku jest {{ storage|length }} student</div>
        {% else %}
            <div>W schowku jest {{ storage|length }} studentów</div>
        {%endif%}
        <div><a href="{{ path('clear') }}">Wyczyść schowek</a></div>
    {%endif %}
    <div>
        <a href="{{ path('student_groups') }}">Grupy</a>
    </div>

{% endblock %}